body {
    background-color: #202124;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
    
}

.container {
    float: right;

}

.up {
    
   display:flex;
   margin-top: 9px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   justify-content: flex-end;
 
}

.kup {
    color: white;
    display: flex;
    padding-top: 5px;
    fill: currentColor;
    width: 100px;
    margin-left: 33px;
}
    

.image {
    display: flex;
    justify-content: center;
    height: 92px;
    width: 94%;
}

.srch {
    display: flex;
    height: 43px;
    justify-content: center;
    border:rgb(82, 78, 78);
    border-bottom-color: #9a9da5;
    border-right-color: #9a9da5;
    border-style:groove;
    border-radius: 30px;
    border-width: 1px;
    max-width: 595px;
    margin: auto;
}

.buyutec {
    color: #9aa0a6;
    fill: currentColor;
    height: 31px;
    width: 27px;
    margin: 9px;
}


.btn {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    
}

.try {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 15px;
    font-size: 15px;
    color: #9aa0a6;
    border-bottom: 1px solid #202124;
}

.dip {
    background-color: #171717;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
    padding-inline: 15px;
    font-size: 15px;
    color: #9aa0a6;
    

}